* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

p {
    color: hsl(0, 0%, 0%);
    text-align: center;
    padding: 10%;
}

.grid-bordas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 24px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.caixa {
    width: 200px;
    height: 80px;
    margin-left: 50px;
}

.caixa-grande {
    width: 400px;
    height: 200px;
    margin-left: 50px;
}

.pontilhado {
    border: 4px dotted black;
}

.tracejado {
    border: 4px dashed black;
}

.solido {
    border: 4px solid black;
}

.duplo {
    border: 4px double black;
}

.ranhurado {
    border: 4px groove black;
}

.insetido {
    border: 4px inset black;
}

.cuminado {
    border: 4px ridge black;
}

.outsetido {
    border: 4px outset black;
}

.none {
    border: none;
}

.hidden {
    border: hidden;
}

.mix {
    border: 4px solid black;            /*Ou também poderia se escrito tudo em shorthand*/
    border-top: 4px dotted red;         /*Lembrando que a ordem do shorthand é top, right, bottom, left*/
    border-right: 4px dashed green;
    border-bottom: 4px double blue;
    border-left: 4px groove purple;
}

.redondo {
    border: 4px solid black;
    border-radius: 20px;
}

.espessura {
    border: 8px solid black;
}

.thin {
    border: thin solid black;
}

.medium {
    border: medium solid black;
}

.thick {
    border: thick solid black;
}

.redondo-50 {                       /*Também é possível colocar em %*/
    border: 4px solid black;      /*E acrescentar mais valores*/
    border-radius: 50px ;           /*porém esses, é melhor você testar sozinho*/
}                                   /*pois há muitas combinações diferentes*/

.redondo-20 {
    border: 4px solid black;
    border-radius: 20px;
}

.redondo-10 {
    border: 4px solid black;
    border-radius: 10px;
}

.redondo-5 {
    border: 4px solid black;
    border-radius: 5px;
}

.shorthand {                              /*Em shorthand, o style é sempre necessário*/
    border: 4px solid black;            /*Width e color não, porque já existe um padrão*/
    border-width: 25px 10px;              /*E sempre na ordem: width->style->color*/
}

.shorthand-2 {
    border: 4px solid black;
    border-width: 25px 10px 5px 40px;
}

.shorthand-3 {
    border-width: 4px;
    border-style: solid;
    border-color: black red green blue;
}

.outline {
    outline: 5px solid black;
}

.border-blue {
    border: 5px solid blue;
}

.offset {                               /*O outline não afeta o tamanho do elemento, diferente da border*/  
    outline: 5px solid black;         /*Mas o outline-offset afeta, afastando o outline do elemento*/
    outline-offset: 10px;
}

.offset-negativo {
    outline: 3px solid yellow;
    outline-offset: -5px;
}